  <div class="alert alert-light">
    <p><strong><%= comment.author.login %></strong>:<%= comment.body %></p>
    <small> <% if edited?(comment) %>
            <p>edited <%= fa_icon 'edit'%> </p>
            <% end %></small>
    <small data-toggle="tooltip" data-placement="top" title="(<%=comment.updated_at  %>)"><time><%= time_ago_in_words(comment.created_at) %> ago</time ></small>
      <% if current_author %>
      <%= link_to "Reply", new_post_comment_path(comment.post, :parent_id => comment.id), class:'btn btn-outline-primary' %>
      <% pre_vote = comment.votes.find { |vote| vote.author_id == current_author.id} %>
      <% if current_author %>
            <% pre_vote = comment.votes.find { |vote| vote.author_id == current_author.id} %>
          <% end %>
          <% if current_author and pre_vote == nil %>
            <%= link_to '↑', post_comment_votes_path(@post, comment),method: :post, class: 'badge badge-primary ' %>
            <strong><%= count_rating%></strong>
            <%= link_to '↓', post_comment_dislike_create_path(@post, comment),method: :post, class: 'badge badge-danger' %>
          <% else  %>
            <span class="badge badge-light disabled">↑</span>
            <strong><%= count_rating(comment.votes)%></strong>
            <span class="badge badge-light disabled">↓</span>
          <% end %>
      <% if @post.author == current_author  %>
    <p>
      <%= link_to 'Destroy', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
                   |
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
    </p>
    <% end %>
    <% end %>
    <br>
            <% unless current_author %>
        <strong>Rating: <%= count_rating(comment.votes)%></strong>
        <% end  %>
  </div>
