<article class="post<%= post.id %>">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small> <% if edited?(post) %>
            <p>edited <%= fa_icon 'edit'%> </p>
            <% end %></small>
    <p><%= post.author.login %></p>
    <p data-toggle="tooltip" data-placement="top" title="Uniq views(<%= post.impressionist_count(:filter=>:ip_address) %>)"> <%= fa_icon "eye" %> Views: <%= post.impressions_count %> <%= fa_icon "comments" %> <%= post.comments.count %>
    <small> </p>
      <time data-toggle="tooltip" data-placement="top" title="(<%=post.updated_at  %>)"><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if post.author == current_author  %>
      |
      <%= link_to 'Edit', edit_post_path(post) %>
      |
      <%= link_to 'Destroy', post, remote: true,  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end  %>
    </small>
  </section>

  <section class="post-content">
    <%= sanitize(post.content.to_s[0..100] ) %>
    <%=  image_tag(post.picture) if post.picture.attached? %>
  </section>
</article>
<hr>
