<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small> <% if edited?(post) %>
            <p>edited <%= fa_icon 'edit'%> </p>
            <% end %></small>
    <p><%= post.author.login %></p>
    <p><%= fa_icon "eye" %> Views: <%= post.impressions_count %></p>
    <small>
      <time><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if post.author == current_author  %>
      |
      <%= link_to 'Edit', edit_post_path(post) %>
      |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end  %>
    </small>
  </section>

  <section class="post-content">
    <%= fa_icon "fa-sign-out" %>
    <%= sanitize(post.content.to_s[0..100] ) %>
    <%=  image_tag(post.picture) if post.picture.attached? %>
  </section>
</article>
<hr>
