
<p id="notice"><%= notice %></p>
<div class="container">


<p>
  <strong>Author:</strong>
  <%= @post.author.login %>
</p>

<h1>
  <strong><%= @post.title %></strong>
</h1>

<section class="post-content">
  <%= @post.content %>
</section>
<%=  image_tag(@post.picture) if @post.picture.attached? %>
<br>
<% if @post.author == current_author %>
<%= link_to 'Edit', edit_post_path(@post), class: "badge badge-warning" %> |
<%= link_to 'Back', posts_path, class: "badge badge-warning" %>
<% end %>
<hr>
<h2>Comments</h2>
<% @post.comments.each do  |comment| %>
  <div class="alert alert-light">
    <p><strong><%= comment.author.login %></strong>:<%= comment.body %></p>
      <% if @post.author == current_author  %>
    |
    <p>
      <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
      <%= link_to "Edit Comment", edit_post_comment_path(comment.post, comment) %>
    </p>
    <% end %>
  </div>
  <% end  %>
<hr>
<%= render 'comments/form2' %>
</div>
