
<div class="container main">
<!-- <p id="alert alert-danger"><%= notice  %></p>  -->

<p>
  <strong>Author:</strong>
  <%= @post.author.login  %>
  <br>
  <small><time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time></small>
</p>

<div class="page-header">
  <strong><h1><%= @post.title %> </strong><small><% if edited?(@post) %>
          <p>edited <%= fa_icon 'edit'%> </p>
          <% end %></small></h1>
          <% if @post.author == current_author %>
          <%= link_to fa_icon("pencil", text: "Edit"), edit_post_path(@post), class: "btn btn-warning" %>
          <%= link_to fa_icon("trash", text: "Delete" ), @post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger pull-right"  %>
          <% end %>
</div>
<section class="post-content">
  <%= @post.content %>
</section>
<%=  image_tag(@post.picture) if @post.picture.attached? %>
<br>
<% # link_to 'Back', posts_path, class: "badge badge-warning" %>
<hr>
<h2>Comments</h2>
<div class="comments">
<div class="new_comment_place">
<%= nested_comments @post.comments.arrange(order: :created_at)  %>
</div>
</div>
<hr>
<% if current_author == nil %>
  <p>You must be logged in to post comments.</p>
  <% else %>
<%= render 'comments/form' %>
<% end %>
</div>
